<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>커뮤니티</title>
    
	<!-- CSS 파일 링크 -->
	<link rel="stylesheet" th:href="@{/css/community.css}"> 
	<link rel="stylesheet" th:href="@{/css/main.css}">
	<link rel="stylesheet" th:href="@{/css/nav.css}">
    
</head>
<body>
    
	<!-- 네비게이션 바 -->
	<div th:replace="~{nav :: global-nav}"></div>

	<div class="community-layout">
	    <div class="community-header">
	        <div class="community-title" onclick="replace()">커뮤니티</div>
	        <div class="community-comment">
	            게임채널에 함께할 구성원을 모집하거나 자유롭게 의견을 나누는 공간입니다.
	        </div>
	        <div class="community-category">
	            <span class="community-span" onclick="setCategory('전체'); setPage(1);">전체</span>
	            <span class="community-span" onclick="setCategory('자유'); setPage(1);">자유</span>
	            <span class="community-span" onclick="setCategory('모집'); setPage(1);">모집</span>
	        </div>
	    </div>

	    <div class="comments-wrap">
	        <div class="community-add-area">
	            <p class="community-title2">게시판</p>
	            <span class="add-post-btn" onclick="addPost()">글쓰기</span>
	        </div>

	        <!-- 게시글 테이블 -->
	        <table class="community-e-header">
	            <thead>
	                <tr>
	                    <th>번호</th>
	                    <th>카테고리</th>
	                    <th>제목</th>
	                    <th>작성자</th>
	                    <th>작성시간</th>
	                    <th>조회수</th>
	                </tr>
	            </thead>
	            <tbody>
	                <!-- 게시글 목록은 JavaScript로 동적으로 추가 -->
	            </tbody>
	        </table>

	        <div class="community-footer">
	            <form class="community-search-bar" onsubmit="return btn(event)">
	                <input type="text" placeholder="게시글 검색" class="community-search-input" aria-label="게시글 검색" />
	                <button type="submit">검색</button>
	            </form>

	            <!-- 페이지네이션 -->
	            <div class="pagination-box">
	                <!-- 페이지네이션 내용은 JavaScript로 동적으로 추가 -->
					 
	            </div>
	        </div>
	    </div>
	</div>

	<script>
		(()=>{
		function addPost(){
			location.href = '/write';
		}
		})();	
	</script>
</body>
</html>