<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/nav.css}">
</head>
<body>
 
    <header>
        <h1>Welcome to GameSearch!</h1>
    </header>

    <main>
        <p>안녕하세요, <span th:text="${session.userName}"></span>님! <span th:text="${session.userName}"></span>님의 마이 페이지 입니다.</p>
        
        <!-- 로그아웃 버튼 -->
        <form th:action="@{/logout}" method="post">
            <button type="submit">Logout</button>
        </form>
    </main>
</body>
</html>